body  
{
	background-color: lightpink;
	margin: 0;
	padding: 0;
}

h1
{
	color: maroon;
	text-align: center;
	font-size: 50px;
	font-family: times new roman;
	margin-top: 50px;
}

h3
{
	color: mistyrose;
	text-align: center;
	font-family: arial;

	background-color: rgba(255, 99, 71, 0.8);
	padding: 30px;
	border-radius: 15px;
	border-left: 6px solid lightpink;
	margin: 30px 0;
}
h2
{
	color: crimson ;
	font-size: 30px;
	text-align: center;
}
table, tr, th, td
{
	border: none;
	color: darkred;
	font-size: 20px;
}
tr:hover 
{
	background-color: lightcoral;
}
dd, dt 
{
	color: indianred;
	font-family: tahoma;
	font-size: 25px;
	text-align: center;
}
dd 
{
	background-color: beige;
	color: darkred;
	border-radius: 10px;
	padding: 15px;
	width: 350px;
	height: 100px;
	border: 1px solid wheat;
	margin: 10px auto;
	display: block;
	transition: width 2s;
}
dd:hover
{
	width: 450px;
	box-shadow: 0 4px 15px rgba(255, 182, 193, 0.3);

}
ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: beige;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;

}
ul li a 
{
	display: inline-block;
	color: maroon;
	padding: 14px 16px;
	text-decoration: none;
}
ul li a:hover:not(.active) 
{
	background-color: lightpink;
	color: white;
	transform: scale(1.05);
	padding: 14px 30px;
	box-shadow: 0 4px 15px rgba(255, 182, 193, 0.3);
	z-index: 10;
	position: relative;
}
ul li a.active
{
	background-color: rosybrown;

}
	

