.button
	{
		background-color: ghostwhite;
		border: none;
		color: black;
		padding: 16px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
		border-radius: 20px;
	}
.button1
	{
		border: 2px solid lightpink;
	}
.button2
	{
		border: 2px solid lightpink;
	}
.button3
	{
		border: 2px solid lightpink;
	}
.button4
	{
		border: 2px solid lightpink;
	}

.button1:hover 
	{
		background-color: lightpink;
		color: ghostwhite;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
	}
.button2:hover 
	{
		background-color: lightpink;
		color: ghostwhite;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
	}
.button3:hover 
	{
		background-color: lightpink;
		color: ghostwhite;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
	}
.button4:hover 
	{
		background-color: lightpink;
		color: ghostwhite;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
	}
h1
{
	text-align:center;
	font-size: 60px;
	font-family: Chalkduster, fantasy;
	color: beige;
	letter-spacing: 3px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}
p
{
	text-align: center;
	font-size: 35px;
	font-family:serif;
	color: ghostwhite;
}