body 
{
	background-color: mistyrose;
}
p 
{
	font-family: MV Boli, cursive;
}
h1
{
	color: mediumvioletred;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}
h3
{
	color: maroon;
}

div.polaroid
{
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 20px;
	vertical-align: top;
	overflow: hidden;	
	transition: all 0.3s ease;
	cursor: pointer;
}
div.polaroid:hover
{
	transform: scale(1.15);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

}

div.polaroid img  
{
	width: 100%;
	height: 230px;
	object-fit: cover;
	display: block;

}

div.container
{
	text-align: center;
	padding: 10px 20px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
body, .main-container
{
	text-align: center;
	padding: 20px;
}
h3
{
	font-size: 30px;
	font-family: tahoma;
}
nav ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: beige;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: times new roman;
	font-size: 16px;

}
nav ul li a 
{
	display: inline-block;
	color: maroon;
	padding: 14px 16px;
	text-decoration: none;


}
nav ul li a:hover:not(.active) 
{
	background-color: lightpink;
	color: white;
	transform: scale(1.05);
	padding: 14px 30px;
	box-shadow: 0 4px 15px rgba(255, 182, 193, 0.3);
	z-index: 10;
	position: relative;
}
nav ul li a.active
{
	background-color: rosybrown;

}
