body
{
	background-color: crimson;
	margin: 0;
	padding: 0;
}

h1
{
	color: lemonchiffon;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
	
}

button 
{
	border: none;
	background-color: maroon;
	color: ghostwhite;
	border-radius: 10px;
	padding: 10px;
}
button:hover 
{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
	
}

.button-container
{
	text-align: center;
}

section 
{
	font-family: Verdana;
	background-color: mistyrose;
	padding: 30px;
	border-radius: 15px;
	border-left: 6px solid lightpink;
	margin: 30px 0;

}
		
h3
{
	color: maroon;
	font-size: 30px;
	text-align: center;
}

section:hover 
{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
	border-radius: 30px;
}

img  
{
	border-radius: 30px;
	transition: all 0.3s ease;
	cursor: pointer;
}
img:hover
{
	transform: scale(1.15);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
nav ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: beige;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: times new roman;
	font-size: 16px;

}
nav ul li a 
{
	display: inline-block;
	color: maroon;
	padding: 14px 16px;
	text-decoration: none;


}
nav ul li a:hover:not(.active) 
{
	background-color: lightpink;
	color: white;
	transform: scale(1.05);
	padding: 14px 30px;
	box-shadow: 0 4px 15px rgba(255, 182, 193, 0.3);
	z-index: 10;
	position: relative;
}
nav ul li a.active
{
	background-color: rosybrown;

}